// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela', sans-serif;
    color: $secondary_color;
}

img {
    width: 100%;
}

.layout {
    @include display-flex;
    height: 100vh;
}

header {
    width: 10%;
}

main {
    width: 90%;
    background-color: $third_color;
    overflow-y: auto;
}

ul {
    list-style-type: none;

    a {
        text-decoration: none;
        color: white;
    }
}

// scrollbar mod

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(197,157,208);
    background: linear-gradient(6deg, rgba(197,157,208,1) 0%, rgba(193,119,204,1) 24%, rgba(0,233,255,1) 100%);
    border-radius: 6px;
}

// common media query

@media screen and (min-width: 800px) {

    .mobile-nav {
        display: none;
        height: 0%;
    }
}

@media screen and (max-width: 800px) {
    header {
        width: 0%;
    }

    main {
        width: 100%;
    }
}